// fonts
$small-font: .9rem;
$medium-font: 1.1rem;

// colors
$white: #fff;
$dark: #222;
$main-color: #17449e;
$sub-color: #c9ddfb;

// global
$header-height: 70px;

$small: 10px;
$medium: 20px;
$large: 40px;