body {
    overflow-x: hidden;
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    color: $dark;
}

.padding-sec {
    padding-top: $large;
    padding-bottom: $large;
}

a:hover {
    text-decoration: none;
}
