.contact {
    // background: #d9d6c6;


    .more-info-title {
        margin-bottom: $small;
        color: $main-color;
    }

    .text {
        margin-bottom: $medium;
    }
    
    .contact-form {
        overflow: hidden;
    }
}